body,
html, * {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "VT323";
}

svg {
  width: auto;
  float: right;
}

.list {
  float: left;
  width: 33%;
}

button {
  background-color: #FFF;
  width: 200px;
  height: 50px;
  border: none;
}

button:hover{
  background-color: #dddddd;
  
  border-bottom: 2px solid #000;
}
button:checked{
  border: 2px solid #000;
}